:root{
        --primary:#de9c29;
        --bg:#fffafa;
    }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:"Poppins",sans-serif;
    background-color: var(--bg);
    color:#fff;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3 ease;
}

header .navigation .navigation-items a:hover{
    color: #fff;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

.home .cover{
    padding: 100px 200px;
}

.home .cover{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.home .cover .tittle .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .cover .tittle .content h1{
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .cover .tittle .content h1 span{
    font-size: 1.2rem;
    font-weight: 600;

}

.home .cover .tittle .content p{
    margin-bottom: 65px;
}

.home .cover .content a{
    background: rgba(222, 156, 43,0.5);
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .cover .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease;
}

.home .cover .media-icons a{
    color: #fff;
    font-size: 1.6rem;
    transition: 0.3 ease;
}

.home .cover .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .cover .media-icons a:hover{
    transform: scale(1.3);
}


.slider{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1320px;
    max-width: 106vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 150;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    z-index: 150;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}





.about{
    color: #000;
    width: 100%;
    min-height: 80vh;
}

.about .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.about .container .content-section{
    float: left;
    width: 55%;
}

.about .container .image-section{
    float: right;
    width: 40%;
    height: auto;
}

.about .container .image-section img{
    width: 100%;
    height: auto;
}

.content-section .tittle{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    font-family: sans-serif;
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .social-media{
    margin: 40px 40px;
}

.content-section .content .social-media i{
    color: #de9c29;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .content .social-media i:hover{
    color: #000;
}



.area{
    min-height: 55vh;
}

.area .tittle-area{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 28px;
    color: #000;
}


.area .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 10px;
    padding: 10px 50px;
}

.area .container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(218, 89, 89, 0.15); 
    transition: 0.5s;
}

.area .container .card:hover{
    height: 400px;
}

.area .container .card .imgBx{
    position: absolute;
    top: 14px;
    width: 300px;
    height: 220px;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.area .container .card:hover .imgBx{
    top:-100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.area .container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.area .container .card .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align:center;
    color: #000;
    transition: 0.5s;
}

.area .container .card:hover .content{
    top: 150px;
    height: 250px;
}

.area .container .card .content h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.area .container .card .content p{
    color: #de9c29;
}


















@media(max-width :1040px){
    header{
        padding: 12px 20px;
    }
    .home .cover{
        padding: 100px 20px;
    }
    .home .cover .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color: var(--primary);
        font-size: 1.2rem;
        margin: 20px;
    }
    header .navigation .navigation-items a:hover{
        color: #000;
        
    }
    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

    }
    .menu-btn{
        background: url(img/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(img/close.png)no-repeat;
        background-size: 40px;
        background-position: center;
        transition: 0.3s ease;
    }
    .slider .buttons{
        display: none;
    }

    
    .about .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    
    .about .container .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .about .container .image-section{
        text-align: center;
        float: none;
        width: 100%;
    }
    .about .container .image-section img{
        width: 50%;
        height: auto;
        display: block;
        margin: auto;
    }


    .content-section .tittle{
        text-align: center;
        font-size: 19px;
    }

    .content-section .content .social-media{
        text-align: center;
    }


    .area .tittle-area{
        padding: 50px 0 20px 0;
        font-size: 14px;
        text-align: center;
    }

    .container{
        gap: 10px 10px;
    }

    .container .card .imgBx{
    scale: 0.75;;
    }
    
}
















    

